ion-card {
    margin: 30px;
    box-shadow: none;
    border: 1px solid lightgray;
}

ion-card-title {
  background-color: #09246c;
  color: white;
  padding: 15px;
}

ion-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ion-button {
  --box-shadow: none;
  border: 1px solid lightgrey;
  border-radius: 50px;
  overflow: hidden;
}